name: Test

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  test:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2 
    - name: Set up Ruby
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: 3.0.2
        bundler-cache: true

    # - name: Install chrome
    #   run: |
    #     wget -q -O - https://dl.google.com/linux/linux_signing_key.pub | apt-key add -
    #     echo 'deb http://dl.google.com/linux/chrome/deb/ stable main' | tee /etc/apt/sources.list.d/google-chrome.list
    #     apt update -y
    #     apt install -y google-chrome-stable
        
        
    - name: Setup test DB
      run: bundle exec rails db:setup
    
    - name: Run test
      run: bundle exec rspec